.skills {
  margin: 100px auto;
}

.skills h1 {
  padding-top: 30px;
  margin: 0 30px 10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto auto;
  width: 100%;
}

.skills-card img {
  height: 50%;
  margin: auto 16px;
}

.skills-card {
  background-color: white;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 10px;
  box-shadow: 2px 2px 0 rgb(60, 60, 60);
  color: black;
  display: flex;
  height: 75px;
  width: 200px;
  margin: 15px 10px;
  transition: .3s;
}

.skills-card p {
  margin: auto 0;
}

.skills-card:hover {
  transform: translate(-0px, -10px);
  filter: drop-shadow(0px 5px 5px #616161);
}